html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-image {
    width: 100%;
    height: 100vh; /* full layar */
    overflow: hidden;
}

.full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* gambar pas tanpa crop */
    background-color: #fff; /* agar area kosong putih */
}
