* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 30px;
    margin-right: 10px;
}

.ctew {
    color: yellow;
    font-weight: bold;
}

.max {
    color: white;
    font-weight: bold;
}


.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none; /* sembunyikan menu */
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 8px;
        gap: 15px;
    }

    .nav-menu.active {
        display: flex; /* tampilkan jika hamburger ditekan */
    }

    .hamburger {
        display: block;
    }
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0d0d;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  min-height: 100vh;
  background: radial-gradient(circle at center, #1a1a1a, #000);
}

.hero-content {
  max-width: 600px;
}

.cinemax {
  color: #FFD700; /* kuning emas */
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn.red {
  background-color: #e50914;
  color: white;
}

.btn.red:hover {
  background-color: #b00610;
}

.btn.yellow {
  background-color: #FFD700;
  color: black;
}

.btn.yellow:hover {
  background-color: #e6c200;
}

/* Responsif */
@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 24px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 15px;
  }
}

